:root {
	--main-font-family: poppins;
	--main-font-weight: 400;
	--main-background-color: #0d2137;
}

body {
	font-family: var(--main-font-family);
	background-color: var(--main-background-color);
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../images/Plancher-les-Mines-header.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	text-align: center;
	padding: 100px 0px 250px 0px;
	color: white;
}

h1 {
	font-size: 60px;
	margin: 10px 0px;
}

h2 {
	font-size: 26px;
	margin-bottom: 50px;
}

h2,
h3,
p {
	font-weight: var(--main-font-weight);
}

h4 {
	font-size: 40px;
	margin: 10px 0px;
}

h6,
h5 {
	font-size: 16px;
}

h5 {
	color: grey;
	margin: 0px;
}

p {
	font-size: 16px;
}

footer {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	grid-gap: 50px;
}

ul {
	list-style: none;
	padding-left: 0px;
}

li {
	font-size: 12px;
}

section {
	background-color: white;
	padding: 50px 0px;
}

a {
  display: block;
  color: white;
	background-color: var(--main-background-color);
	border-radius: 4px;
	padding: 10px 15px;
  margin: 40px auto 10px auto;
	text-decoration: none;
	font-weight: var(--main-font-weight);
}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.button-header {
	color: black;
	background-color: white;
	border-radius: 4px;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: var(--main-font-weight);
  width: 200px;
}

.why-plm {
	display: grid;
	grid-template-columns: 1fr 2fr;
	max-width: 1000px;
	margin: 0 auto;
	grid-gap: 50px;
}

.image-why-plm {
	display: block;
	width: 100%;
	border-radius: 5px;
}

.activities-section {
	background-color: whitesmoke;
	text-align: center;
}

.activities {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1000px;
	margin: 0 auto;
	grid-gap: 50px;
  border-radius: 10px;
}

.activity {
  display: block;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
}

.footer {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url("../images/Plancher-les-Mines-footer.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	padding: 60px 150px;
}

@media (max-width: 800px) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 20px;
	}

  

	footer {
		grid-template-columns: 1fr;
		grid-gap: 0px;
	}

  
	.why-plm {
		grid-template-columns: 1fr;
    padding: 0px 50px;

	}

	.image-why-plm {
		display: none;
	}

	.text-why-plm {
		text-align: center;
	}

  .activities {
	grid-template-columns: 1fr;
}

.activity {
  margin: 0px 20px;
}
	.footer {
		padding: 10px 40px;
	}
}
